body {
  background-color: #262626;
  margin: 0 auto;
}

#homepage {
  width: 70%;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  /* display: grid;
  grid-template-areas:
    "sb" "sb" "sb" "sb"
    "wg" "wg" "wg" "wg"
    "lo" "lo" "fe" "fe"
    "se" "se" "se" "se"
    "rp" "rp" "rp" "rp"; */
  /* display: flex;
  flex=wrap: wrap;
  flex-direction: column; */
}

h1 {
  color: #ffd703;
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

h2 {
  color: white;
  font-family: "Amatic SC", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

.search {
  background-color: #947b00;
  color: white;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
}

.randomPark {
  background-color: black;
  color: #947b00;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

#homepage-h1 {
  font-size: 150px;
  letter-spacing: 10px;
  /* grid-area: sb; */
}

#homepage-h2 {
  font-size: 50px;
  /* grid-area: wg; */
}

#homepage-loc {
  /* grid-area: lo; */
  padding: 5px;
}
#homepage-feat {
  /* grid-area: fe; */
  padding: 5px;
}

#homepage-search {
  /* grid-area: se; */
  margin: 15px;
}

#homepage-rp {
  /* grid-area: rp; */
  margin: 15px;
}

#search-results {
  margin: 0 auto;
  margin-top: 200px;
}

#sr-main {
  background-color: #c4c4c4;
  width: 70%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}
