

body {
  background-color: #262626;
  margin: 0 auto;
}

#homepage {
  width: 70%;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

h1 {
  color: #ffd703;
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

h2 {
  color: white;
  font-family: "Amatic SC", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

.search {
  background-color: #947b00;
  color: white;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
}

.randomPark {
  background-color: black;
  color: #947b00;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

#homepage-h1 {
  font-size: 150px;
  letter-spacing: 10px;
}

#homepage-h2 {
  font-size: 50px;
}

#homepage-loc {
  padding: 10px;
}
#homepage-feat {
  padding: 10px;
  margin-left: 15px;
}

#homepage-search {
  margin: 15px;
}



#search-results {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "H H H H"
    "L A A R"
    "F F F F";
}

#sr-header {
  background-color: #262626;
  padding-bottom: 20px;
  margin: 0;
  grid-area: H;
 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-end;

}
/* got flexbox help with this tool
https://the-echoplex.net/flexyboxes/ */




.right-div{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-end;
}


#left-column-style{
  grid-area: L;
  background-color: #7E7D7D;
}


#sr-main {
  display: flex;
  flex-direction: column;
  background-color: #7E7D7D;
  grid-area: A;

}

.skate-here{
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin: 100px 0 50px 0;
}

#right-column-style{
  grid-area: R;
  background-color: #7E7D7D;
}

#sr-footer{
  
  background-color: #262626;
  height: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  
  grid-area: F;
}

.result {
  background-color: #c4c4c4;
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 10px;
  border-radius: 10px;
  
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
  
}

.leftDIV{
  margin-left: 100px;
  text-align: center;
  border-right: solid #524B2A 1px;
  height:190px;
  padding-right: 20px;
}

.rightDIV{
  margin-right: 200px;
  text-align: center;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px 0 0 30px;
    
}

.result-name{
  color: #947b00;
  font-family: "Bebas Neue", cursive;
  font-size: 33px;
  letter-spacing: 2px;
  width: 300px;
  height: auto;
  text-align: center;
  margin: center 20px;
}

.result-location{
  color: #524B2A;
  font-weight:bold;
}

.result-feat{
  color: black;
  font-size: 14px;
}


.results-h1 {
  color: #ffd703;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  padding: 0;
  font-size: 100px;
  letter-spacing: 1px;
  
}

.results-h2 {
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  
}



#homepage-rp {

  margin: 15px;
  
}








@media only screen and (max-width: 900px){



#homepage {
  margin-top: 50px;
}

#homepage-h1 {
  font-size: 80px;
  letter-spacing: 3px;
  
  
}

#homepage-h2 {
  font-size: 25px;
  letter-spacing: 3px;
 
}

form{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    align-items: center; 
}

.search{
  padding: 2px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
}

#homepage-loc {

  padding: 0;
}
#homepage-feat {

  padding: 0;
  margin-left: 0;
}

.results-h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  letter-spacing: 1px;
}

.results-h2{
  font-size: 25px;
  letter-spacing: 2px;
}

.formSR{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    align-items: center; 
}


#search-results {

  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}

#sr-header {
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}

.right-div{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

#sr-main {
  display: flex;
  flex-direction: column;

  
}


.skate-here{
  font-size: 40px;
  margin: 20px 0;

}

.result{
  height: 100%;
  width: 90%;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}



.leftDIV{
  margin:0;
  padding:0;
  width: 70%;
  height: auto;
  border-right: 0;
  border-bottom: solid #524B2A 1px;
  
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}


.rightDIV{
  margin:0;
  text-align: center;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.result-feat{
  font-size: 15px;
  margin-right: 30px;
}


}
